    .content{
        padding-top: 3%;
        padding-left: 25%;
    }
    
    #savebtn{
        background-color: inherit;
        border: none;
        color: inherit;

    }

    .MatchType{
        height: 40px;
        padding-top: 20px;
    }
    .buttons{
        display: inline;
        width: 50%;
    }

    #meczNaPunkty {
        background-color: white;
        width: 50px;
        color: black;
        display: inline;
        margin-left: 45px;
        border-style: solid;
        border-radius: 15px;
        border-color: #B0413E;
        padding: 10px;
    }

    #meczNaPunkty:hover {
        background-color: #B0413E;
        width: 50px;
        color: white;
        display: inline;
        margin-left: 45px;
        border-radius: 15px;
        border-color: #B0413E;
        transition-delay: 0.2s;
        padding: 10px;
    }
    #meczNaPunktyChecked{
        background-color: #B0413E;
        width: 50px;
        color: white;
        display: inline;
        margin-left: 45px;
        border-radius: 15px;
        border-color: #B0413E;
        padding: 10px;
    }

    #meczLigowy {
        background-color: white;
        width: 50px;
        color: black;
        display: inline;
        margin-left: 45px;
        border-style: solid;
        border-radius: 15px;
        border-color: #B0413E;
        padding: 10px;
    }

    #meczLigowy:hover {
        background-color: #B0413E;
        width: 50px;
        color: white;
        display: inline;
        margin-left: 45px;
        border-radius: 15px;
        border-color: #B0413E;
        transition-delay: 0.2s;
        padding: 10px;
    }
    #meczLigowyChecked{
        background-color: #B0413E;
        width: 50px;
        color: white;
        display: inline;
        margin-left: 45px;
        border-radius: 15px;
        border-color: #B0413E;
        padding: 10px;
    }

    .btn{
        background-color: white;
        margin-left: 15px;
    }
    .btn:active{
        background-color: blue;
    }
    .form{
        height: 100%;
        font-size: 20px;
        margin-top: 20px;
    }
    .nrMatch{
        width: 90%;
        margin-top: 1%;
        padding-bottom: 1%;
    }
    .matchNr{
        display: inline;
        width: 50%;
        padding-left: 9%;

    }
    #nrMatch{
        border-radius: 5px;
        border-color: #222222;
        width: 40px;
    }
    #user{
        margin-bottom: 4%;
    }
    .userSelect{
        display: inline;
        border-radius: 5px;
        border-color: #222222;
        width: 80px;
    }

    #usersHtml{
    }
    #userSelect{
        display: inline;
    }
    #userSelectChoose{
        margin-left: 300px;
        border-radius: 5px;
        border-color: #222222;

    }
    .tokensOnStart{
        display: inline;
        width: 30%;
        height: 35px;
    }
    #convertPointsToBeer {
        border-radius: 5px;
        border-color: #222222;
        width: 80px;
    }
    #TokensToBeersConversion{
        display: none;
    }
    #TokensToBeersConversionVisible{
        display: inline;
    }

    #TokensToBeersConversionText{
        display: inline;

    }
    #TokensToBeersConversionValue{
        display: inline;
        padding-left: 2%;
    }
    .tokensOnStartText{
        width: 25%;
        display: inline;
        height: 35px;
    }

    #inputTokensOnStart{
        margin-left: 15px;
        border-radius: 5px;
        border-color: #222222;
    }

    .TokensOnStartValue{
        width: 25%;
        display:inline;
        height: 35px;
    }

    .TokensOnStartValue:focus {
        width: 25%;
        display:inline;
    }

    .match{
        padding-top: 50px;
    }
    
    .matchText{
        display:inline;
        width:50%
    }
    .savebtn{
        background-color: white;
        width: 50px;
        color: black;
        display: inline;
        margin-left: 400px;
        border-style: solid;
        border-radius: 15px;
        border-color: #B0413E;
        padding: 10px;
    }

    .savebtn:hover {
        background-color: #B0413E;
        width: 50px;
        color: white;
        display: inline;
        margin-left: 400px;
        border-radius: 15px;
        border-color: #B0413E;
        transition-delay: 0.2s;
        padding: 10px;
    }



    .inputResult{
        width: 20%;
        color: black;
        display: inline;
    }
    .inputTitles{
        width: 10%;
        display: inline;
        
    }

    .inputTitle{
        margin-left: 3%;
        display: inline;
    }
    .inputValue{
        width:20%;
        display: inline;
    }

    .inputValues{
        display: inline;
    }
    #points, #beers, #tokens{
        width:10%;
        border-radius: 5px;
        border-color: #222222;
    }

    

