
    .content{
        padding-top: 5%;
        padding-left: 5%;
        margin-left: 28%;
    }
    .userRanking{
        /*background-color: black;*/
        width: 25%;
        border-bottom: thin solid gray;
        padding-top: 1%;

    }
    .userScore{
        /*background-color: silver;*/
        width: 100%;
    }
    
    .user{
        float: left;
        /*background-color: yellow;*/
        width: 40%;
        font-size: 170%;
    }
    
    .score{
        float: left;
        font-size: 140%;
        /*background-color: green;*/
        width: 60%;
        text-align:right;
    }
    .beersTokens{
        /*background-color: blue;*/
        width: 30%;
        padding-left: 1.5%;
        padding-bottom: 1%;
        font-size: 60%;
    }
    .number{
        padding-left: 5%;
        float: left;
        width: 20%;
    }
    
    .userlogin{
        float: left;
        width: 75%;
    }
