    ul,li{
    
    float: left;
    }
    
    a{
        text-decoration:none;
        color: black;
    }
    
    li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    .header{
        padding-top: 1%;
        float:left;
        width: 100%;
        font-size: 130%;
        
    }
    .content{
        padding-top: 5%;
        padding-left: 5%;
    }
    .userRanking{
        /*background-color: black;*/
        width: 15%;
        border-bottom: thin solid gray;
        padding-top: 1%;
    }
    .userScore{
        /*background-color: silver;*/
        width: 100%;
    }
    
    .user{
        float: left;
        /*background-color: yellow;*/
        width: 40%;
        font-size: 150%;
    }
    
    .score{
        float: left;
        font-size: 120%;
        /*background-color: green;*/
        width: 60%;
        text-align:right;
    }
    .beersTokens{
        /*background-color: blue;*/
        width: 30%;
        padding-left: 1.5%;
        padding-bottom: 1%;
        font-size: 60%;
    }
    .number{
        padding-left: 5%;
        float: left;
        width: 20%;
    }
    
    .userlogin{
        float: left;
        width: 75%;
    }
