<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/newCascadeStyleSheet.css">
        <title></title>
    </head>
    <body>
        <div class ="choose">
        <a href ="/dashboard/home/login">Zaloguj</a>
        <a href ="/dashboard/home/registerNewUser">Zarejestruj się</a>
         <!--przekazanie zmiennej do widoku !-->
        <a href ="Register.php">{{ zmienna }}</a>
        </div>
    </body>
</html>