<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/newCascadeStyleSheet.css">
     </head>
    <body>
        <div class ="header">
            <nav>
                <ul>
                    <li><a href ="AddResults.php">Dodaj Wyniki</a></li>
                    <li><a href ="Ranking.php">Ranking</a></li>
                    <li><a href ="">Nagrody</a></li>
                    <li><a href ="Logout.php">Wyloguj się</a></li>
                </ul>
            </nav>
        </div>
        
    </body>
 
</html>
