<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/newCascadeStyleSheet.css">
     </head>
    <body>
        <div class ="header">
            <nav>
                <ul>
                    
                    <li><a href ="{{ url('addResults')}}">Dodaj Wyniki</a></li>
                    <li><a href ="{{ url('ranking') }}">Ranking</a></li>
                    <li><a href ="">Nagrody</a></li>
                    <li><a href ="{{ url('logout') }}">Wyloguj się</a></li>
                </ul>
            </nav>
        </div>
        
    </body>
 
</html>
