<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/newCascadeStyleSheet.css">
        <title></title>
    </head>
    <body>
        <div class ="login">
                <form  method="POST">
                     <p><input class = "loginInput" type="text" name="login"></p>
                     <p><input class = "loginInput" type="password" name="pass"></p>
                     <input id= "loginBtn" type="submit" value = "Zaloguj się">
                     <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
        {{lastUserName}}
        {{error}}
    </body>
    </head>
</html>
