<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div id= "pogoda">
        <pogoda></pogoda>
    </div>
</body>

<script>
import pogoda from "../../assets/pogoda";

export default {
    components:
    pogoda,
}

</script>

</html>
