<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/newCascadeStyleSheet.css">
        <title></title>
    </head>
    <body>
        <div class ="register">
                <form  method="POST">
                     <p><input id = "loginInput" type="text" name="login"></p>
                     <p><input id = "loginInput" type="text" name="mail"></p>
                     <p><input id = "loginInput" type="text" name="pass"></p>
                     <p><input id = "loginInput" type="text" name="pass2"></p>
                     <input id= "loginBtn" type="submit" value = "Zarejestruj się">
                </form>
            </div>
        {{ registerNewUser }}
    </body>
    </head>
</html>

